@import "tailwindcss";

@theme {
  --color-primary: #002855;
  --color-secondary: #D4AF37;
  --color-accent: #64748b;
  --color-light: #f8fafc;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: #1f2937;
  /* gray-800 */
}